@import '../../styles/variables';

.order {
  background: $color-bg;
  display: flex;
  width: 100%;
  border: 1px solid $color-border;
  border-radius: 6px;
  padding: 15px 30px;
  margin-bottom: 14px;
  align-items: center;
  justify-content: space-around;

  &--small {
    background: $color-bg;
    display: flex;
    width: 100%;
    border: 1px solid $color-border;
    border-radius: 6px;
    padding: 15px 10px;
    margin-bottom: 14px;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    border-bottom: 1px solid $color-border-dark;
    width: max-content;
  }

  &__title-none {
    display: none;
  }

  &__button-count {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 150px;
  }

  &__arrow-Wrapper {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__arrow {
    height: 18px;
    width: 18px;
  }
}

.products-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-border;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 22px;
    height: 22px;
  }

  &:hover {
    border: 2px solid $color-border;
  }
}

.goods-quantity {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 45px;

  &__count {
    font-size: 18px;
    line-height: 18px;
  }

  &__name {
    font-size: 13px;
    color: $color-border-dark;
  }
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;

  &__order {
    font-size: 12px;
    color: $color-border-dark;
  }

  &__current {
    font-size: 16px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;

  &--none {
    display: none;
  }

  &__usd {
    font-size: 12px;
    color: $color-border-dark;
  }

  &__uah {
    font-size: 16px;
  }
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &:hover {
    border: 1px solid $color-border;
  }
}
