@import '../styles/_variables.scss';

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-font;
}

ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}
