$color-primary: #3C3C3C;
$color-bg: #C0C8DC;
$color-secondary: #38DCAE;
$color-accent: #F9D44A;
$color-info : #FF7F5C;
$color-font : #18333E;
$color-border : #B4BCC4;
$color-white : #FFFFFF;
$color-light-blue : #E9F1FA;
$color-bg-dark : #E4EBF5;
