@import "../../styles/variables";

.sidebar {
  height: calc(100vh - 64.5px);
  max-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  align-items: center;
  padding: 60px 0;
  box-shadow: 3px 2px 16px -9px #000000;

  &__avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.32),
    inset -0.2px -0.2px 14px -0.2px rgba(0,0,0,0.32);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      background-color: $color-accent;
      top: 10px;
      left: 10px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

    :not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__menu-item {
    font-weight: 600;
  }
}
