@import "../../styles/mixins";
@import "../../styles/variables";

.user {
  display: flex;

  &__content {
    @include parentBlockSizes;
    @include flexAlignCenterColumn;
    padding: 80px 0;
  }

  &__content-avatar {
    border-radius: $borderRadiusRounded;
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
  }

  &__content-name {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__content-links {
    width: 100%;
    @include flexCentered;
    gap: 20px;
  }
}
